// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-content.gradient {
  &.content-ios,
  &.content-md {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+100;Black+3D */
    background: #545252; /* Old browsers */
  }
}

ion-header {
  .logo {
    max-height: 40px;
    margin: 0 auto;
    display: block;
    margin-top: 5px;
  }

}

.CambiarEstadoIcon {
  ion-icon {
    color: blue !important;
  }
}

.DeleteIcon {
  ion-icon {
    color: red !important;
  }
}

.NuevoIcon {
  ion-icon {
    color: blue !important;
  }
}

.CerrarIcon {
  ion-icon {
    color: orangered !important;
  }
}

.EditIcon {
  ion-icon {
    color: green !important;
  }
}
