page-servicios {
  ion-card {
    border-radius: 10px !important;
    margin-bottom: 20px !important;
    background-image: url('../../assets/imgs/bg.jpg') !important;
  }

  .bg-finalizado{
    background-image: url('../../assets/imgs/bg-fin.jpg') !important;
  }
  .bg-cancelado{
    background-image: url('../../assets/imgs/bg-cancel.jpg') !important;
  }

  ion-card-header {
    margin-bottom: 0 !important;
    padding: 10px 10px 0 15px !important;
    background:rgba(255,255,255,0.5) !important;
  }
  ion-item{
    background:rgba(255,255,255,0.5) !important;
  }

  .fecha {
    margin-top: 10px !important;
    font-size: 1.5em !important;
  }

  .hora {
    font-size: 1.5em !important;
  }

  .paxs {
    float: right;
  }

  .num_orden {
    margin-left: 15%;
  }
  .descripcion{
    color: #7d7e7d !important;
    margin-bottom: 10px;
  }

  ion-icon.estado {
    zoom: 1.5;
    margin-left: 10px;
  }

}
